# Pandas

In [4]:
import pandas as pd
import numpy as np

## Lets do some works here

In [3]:
dates = pd.date_range("20200101", periods = 6)

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns= ["A","B","C","D"])

## See the results

In [9]:
df

                   A         B         C         D
2020-01-01  1.224579  0.715106  0.507842 -0.036301
2020-01-02 -0.191676 -0.545873 -1.165731 -0.546291
2020-01-03 -0.045350 -1.301232 -0.294875  0.695499
2020-01-04 -0.880748  0.864240 -0.512766 -1.488944
2020-01-05 -1.092666  0.493680 -0.488249 -0.062654
2020-01-06 -0.784350 -0.179545  0.967631  1.220355